/*colors*/
/*fonts*/
/*spacing*/
nav, .inside #footer {
  padding: 20px 0; }

/* CSS Document */
body {
  font-family: "Karla", sans-serif;
  font-size: 1em;
  line-height: .9;
  color: #333;
  background-color: #fdfdfd;
  margin: 0;
  position: relative; }

h1 a {
  font-family: "Rubik", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.2;
  color: blue;
  text-decoration: none; }

a {
  color: blue;
  text-decoration: none; }
  a img {
    border: none 0px #f3f3f3; }

a:hover, a:focus {
  color: blue;
  text-decoration: none; }

#maincontent {
  background-color: #f3f3f3;
  width: 100%; }

footer {
  bottom: 0;
  background-color: #f3f3f3;
  color: #333;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase; }

.li-button {
  margin-top: 10px; }

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: auto;
  background-color: #252831;
  text-align: center; }
  nav h1 {
    margin: auto; }

nav h1 a {
  font-family: "Rubik", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.2;
  color: blue;
  color: #f3f3f3;
  letter-spacing: 7px;
  text-transform: uppercase; }

table {
  width: 100%; }

.address {
  text-align: center !important; }

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  drop-shadow: 30px 10px 4px black; }

/* Display list items side by side */
#breadcrumb li {
  display: inline; }

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0"; }

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: blue;
  text-decoration: none; }

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline; }

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc; }

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  display: grid;
  background-color: blue;
  align-items: center;
  padding: 10px; }
  .filter-options h2 {
    font-family: "Rubik", sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.2;
    color: blue;
    color: #f3f3f3;
    margin-left: 10px; }

.filter-options #neighborhoods-select, .filter-options #cuisines-select {
  font-family: "Karla", sans-serif;
  font-size: 1em;
  line-height: .9;
  color: #333; }

@media only screen and (min-width: 500px) {
  #restaurants-list {
    grid-template-columns: auto auto auto; }
  .filter-options {
    display: block;
    overflow: hidden; }
  .h2-wrapper {
    float: left; }
  .wrapper {
    float: right; } }

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 95%; }

.visually-hidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important; }

/* ====================== Restaurant Listing ====================== */
li h1 {
  font-family: "Rubik", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.2;
  color: blue;
  text-decoration: none; }

li p {
  font-family: "Karla", sans-serif;
  font-size: 1em;
  line-height: .9;
  color: #333; }

li a {
  font-family: "Rubik", sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.2;
  color: blue; }

#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center; }

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 10px;
  padding: 12px; }

#restaurants-list {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%; }

.restaurant-hero-img {
  height: auto; }

#restaurants-list li h2 {
  color: blue;
  font-family: Arial,sans-serif;
  font-size: 1.3em;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  text-transform: uppercase; }

#reviews-list h1 {
  text-align: left; }

#restaurants-list li a {
  background-color: blue;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  padding: 8px;
  text-decoration: none;
  text-transform: uppercase; }

/* ====================== Restaurant Details ====================== */
#restaurant-container h2 {
  font-family: "Rubik", sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.2;
  color: blue; }

th {
  color: blue;
  text-align: left;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
  margin: 10px;
  width: 100%;
  text-align: -webkit-center; }

.review-map #map {
  margin-top: 115px; }

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000; }

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: auto;
  right: 0;
  top: 80px;
  width: 100%; }

.inside #map {
  background-color: #ccc; }

.inside #footer {
  width: 100%;
  bottom: 0;
  position: absolute; }

.address-container {
  text-algin: center;
  margin: 0;
  padding: 0; }

#restaurant-name {
  text-align: center;
  color: blue;
  font-family: Arial,sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 7px;
  text-transform: uppercase;
  line-height: 1.1;
  margin: 20px 5px 20px 5px; }

#restaurant-img {
  max-width: 100%;
  min-width: 350px;
  text-align: center; }

.info {
  height: 100px; }

.restaurant-img {
  width: 100%; }

.center-content {
  display: flex;
  align-item: center;
  justify-content: center; }

#restaurant-address {
  text-algn: center;
  margin-top: 8px;
  text-align: center; }

#restaurant-cuisine {
  background-color: #252831;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase; }

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff; }

#reviews-container {
  padding: 30px 40px 80px; }

#reviews-container h2 {
  text-align: left; }

#reviews-container h2 {
  color: blue;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt; }

#reviews-list {
  margin: 0;
  padding: 0; }

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  padding: 15px;
  position: relative; }

#reviews-list li p {
  margin: 0 0 10px; }

#restaurant-hours td {
  padding: 5px;
  background-color: #252831;
  font-size: .7em;
  width: 250px;
  color: white; }

td, th {
  line-height: 2.5; }

@media only screen and (min-width: 500px) {
  #restaurants-list li {
    line-height: 1.5; }
  #restaurants-list {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .li-button {
    margin-top: 30px; } }

@media only screen and (min-width: 700px) {
  td, th {
    line-height: 2; }
  .filter-options select {
    width: 150px; }
  #restaurants-list {
    grid-template-columns: 1fr 1fr 1fr; }
  #restaurants-list .restaurant-img {
    object-fit: cover;
    height: 180px;
    background-color: #ccc;
    display: block;
    margin: 0;
    padding: 0;
    padding-bottom: 5px; }
  table {
    height: 100%; }
  #restaurant-container {
    display: grid;
    grid-template-columns: auto auto; }
  #restaurant-name {
    grid-column-start: 1;
    grid-column-end: 4; }
  min-height: 2em;
  table {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3; }
  .address-container {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4; }
  #restaurant-cuisine {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2; } }

@media only screen and (min-width: 800px) {
  td, th {
    line-height: 2.5; }
  #restaurants-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; } }

@media only screen and (min-width: 1000px) {
  td, th {
    line-height: 2.6; }
  #restaurants-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%; }
  #restaurant-container {
    margin-left: 10%;
    margin-right: 10%; }
  body {
    background-color: black; } }
