#restaurants-list li img {
  width: 100%;
  height: auto; }

#filter-options label {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important; }

header, #filter-options, #reviews-container h3 {
  -webkit-box-shadow: 5px 2px 6px #888888;
  box-shadow: 5px 2px 6px #888888; }

#restaurants-list, #restaurants-list li {
  -webkit-box-shadow: 1px 2px 6px #888888;
  box-shadow: 1px 2px 6px #888888; }

/* CSS Document */
/* ====================== primary site parts ====================== */
body, td, th, p {
  color: black !important;
  text-transform: none !important;
  font-family: EB Garamond, serif;
  font-size: 1em;
  line-height: 1.5; }

body {
  color: black !important;
  text-transform: none !important;
  font-family: EB Garamond, serif;
  font-size: 1em;
  line-height: 1.5;
  background-color: #f3f3f3;
  margin: 0;
  position: relative; }

ul, li {
  overflow: auto; }

a {
  text-decoration: none; }
  a img {
    border: none 0px #f3f3f3; }
  a:hover {
    color: #3572c3;
    text-decoration: none; }
  a:focus {
    color: #3572c3;
    text-decoration: none; }

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

main {
  background-color: #f3f3f3;
  width: 100%;
  min-height: 100%; }

footer {
  color: black !important;
  text-transform: none !important;
  font-family: EB Garamond, serif;
  font-size: 1em;
  line-height: 1.5;
  bottom: 0;
  background-color: white;
  padding: 25px;
  text-align: center; }
  footer a {
    color: orange !important;
    text-transform: none !important;
    font-family: EB Garamond, serif;
    font-size: 1em;
    line-height: 1.5; }

/* ====================== Navigation ====================== */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000; }
  header nav {
    width: 100%;
    height: auto;
    background-color: #3572c3;
    text-align: center;
    padding: 20px 0; }
    header nav h1 {
      margin: auto; }
      header nav h1 a {
        color: white !important;
        text-transform: uppercase !important;
        color: white;
        font-family: Oswald, sans-serif;
        font-size: 1em;
        line-height: 1.5;
        font-weight: 200;
        letter-spacing: 7px; }

/* Display list items side by side */
#breadcrumb {
  padding: 10px;
  padding-left: 20px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  drop-shadow: 30px 10px 4px black; }
  #breadcrumb li {
    display: inline;
    /* Add a color to all links inside the list */ }
    #breadcrumb li a {
      color: #3572c3;
      text-decoration: none; }
    #breadcrumb li:hover {
      color: orange;
      text-decoration: underline; }

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0"; }

/* ====================== Home Map ====================== */
#map {
  margin-top: 80px;
  height: 400px;
  width: 100%;
  background-color: orange; }
  #map #map-container {
    background: #3572c3 none repeat scroll 0 0;
    height: auto;
    right: 0;
    top: 80px;
    margin-top: 20px;
    width: 100%; }

/* ====================== Detailed Map ====================== */
.review-map #map {
  margin-top: 115px; }

/* ====================== Restaurant Filtering ====================== */
#filter-options {
  z-index: 3000;
  display: grid;
  background-color: #3572c3;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px; }
  #filter-options h2 {
    color: white !important;
    text-transform: none !important;
    font-family: Oswald, sans-serif;
    font-size: 1.5em;
    font-weight: 30;
    line-height: 1.5;
    letter-spacing: 2px;
    margin-left: 10px;
    margin-top: 0; }
  #filter-options select {
    color: black !important;
    text-transform: none !important;
    font-family: Oswald, sans-serif;
    font-size: .8em;
    font-weight: 30;
    line-height: 1.5;
    letter-spacing: 2px;
    background-color: #f3f3f3;
    border: 1px solid #fff;
    height: 35px;
    margin: 10px;
    padding: 0 10px;
    width: 95%; }

/* ====================== Restaurant Listing//HOME PAGE ====================== */
.list-container {
  background-color: #afafaf; }

#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 10px;
  text-align: center; }
  #restaurants-list .info {
    margin-top: 0px;
    margin-bottom: 15px;
    padding: 5px; }
  #restaurants-list li {
    background-color: white;
    border: 2px solid #ccc;
    margin: 10px;
    padding: 12px;
    max-width: 100px p;
    max-width-color: black !important;
    max-width-text-transform: none !important;
    max-width-font-family: EB Garamond, serif;
    max-width-font-size: 1em;
    max-width-line-height: 1.5;
      max-width-margin: 0;
      max-width-padding: 0; }
    #restaurants-list li a {
      color: #f3f3f3 !important;
      text-transform: uppercase !important;
      font-family: Oswald, sans-serif;
      font-size: .8em;
      line-height: 1.5;
      letter-spacing: 4px;
      margin-top: 10px;
      background-color: #3572c3;
      display: inline-block;
      padding: 8px;
      text-decoration: none;
      margin-bottom: 0; }
    #restaurants-list li h3 {
      color: #3572c3 !important;
      text-transform: none !important;
      font-family: EB Garamond, serif;
      font-size: 1.5em;
      line-height: 1;
      margin-bottom: 10px; }
  #restaurants-list .restaurant-img {
    background-color: #ccc;
    display: block;
    margin: 0;
    max-width: 100%;
    height: auto; }

/* ====================== Restaurant hero details ====================== */
#restaurant-container #restaurant-name {
  color: white !important;
  text-transform: none !important;
  font-family: Oswald, sans-serif;
  font-size: 1.5em;
  font-weight: 30;
  line-height: 1.5;
  letter-spacing: 2px;
  background-color: #3572c3;
  padding: 14px;
  padding-bottom: 20px;
  text-align: center;
  margin: 0; }

#restaurant-container #restaurant-cuisine {
  color: white !important;
  text-transform: none !important;
  font-family: EB Garamond, serif;
  font-size: 1em;
  line-height: 1.5;
  background-color: #afafaf;
  text-align: center; }
  #restaurant-container #restaurant-cuisine h3 {
    padding: 20px;
    margin: 0; }

#restaurant-container table {
  width: 100%;
  height: auto; }
  #restaurant-container table th {
    color: #3572c3 !important;
    text-transform: none !important;
    font-family: EB Garamond, serif;
    font-size: 1.5em;
    line-height: 1;
    text-align: center;
    letter-spacing: -1px;
    padding: 15px;
    margin: 10px;
    width: 100%; }
  #restaurant-container table td {
    color: #f3f3f3 !important;
    text-transform: none !important;
    font-family: EB Garamond, serif;
    font-size: 1em;
    line-height: 1.5;
    font-style: italic;
    padding: 5px;
    background-color: #252831;
    width: 250px; }

#restaurant-container img {
  height: auto;
  max-width: 100%;
  min-width: 350px;
  text-align: center; }

#restaurant-container #address-container {
  text-algin: center; }

#reviews-container {
  margin-top: 0;
  margin-bottom: 0; }
  #reviews-container h4 {
    color: black !important;
    text-transform: none !important;
    font-family: EB Garamond, serif;
    font-size: 1.5em;
    line-height: 1;
    margin: 15px 0;
    padding-bottom: 1px; }
  #reviews-container h3 {
    color: white !important;
    text-transform: none !important;
    font-family: Oswald, sans-serif;
    font-size: 1.5em;
    font-weight: 30;
    line-height: 1.5;
    letter-spacing: 2px;
    background-color: #3572c3;
    padding: 20px 0px 35px 10px;
    margin: 0;
    text-align: left; }

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff; }

#reviews-list {
  margin: 0;
  padding: 0; }
  #reviews-list li {
    background-color: white;
    border: 2px solid #ccc;
    margin: 10px;
    padding: 12px; }
    #reviews-list li p {
      margin: 0 0 10px; }
    #reviews-list li .date {
      color: #3572c3; }
    #reviews-list li .comments {
      color: black !important;
      text-transform: none !important;
      font-family: EB Garamond, serif;
      font-size: 1em;
      line-height: 1.5; }

.rating-container {
  color: orange;
  margin: 20px, 20px, 20px, 40px; }

#restaurant-address {
  text-algn: center;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center; }

@media only screen and (min-width: 600px) {
  #restaurant-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto; }
    #restaurant-container table {
      position: relative;
      width: 100%;
      height: 100%;
      grid-column-start: 2;
      grid-row-start: 3; }
      #restaurant-container table th {
        font-size: 1em; }
      #restaurant-container table td {
        font-size: .6em; }
    #restaurant-container img {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      min-width: 130px;
      height: 100%; }
    #restaurant-container #restaurant-name {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1; }
    #restaurant-container #restaurant-cuisine {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2; }
    #restaurant-container #address-container {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 4;
      height: auto; }
  #filter-options {
    display: block;
    overflow: hidden; }
  .h2-wrapper {
    float: left; }
  .wrapper {
    float: right; }
  #restaurants-list li {
    line-height: 1.5; }
  #restaurants-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%; }
    #restaurants-list #restaurant-img {
      width: 50%; }
    #restaurants-list .info {
      height: 130px; } }

@media only screen and (min-width: 800px) {
  #restaurant-container {
    display: grid;
    grid-template-columns: auto auto; }
  #filter-options select {
    width: 150px; }
  #restaurants-list {
    grid-template-columns: 1fr 1fr 1fr; }
  #restaurants-list .restaurant-img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 320px;
    height: 180px;
    background-color: white;
    display: block;
    margin: 0; }
  #restaurant-container {
    -webkit-box-shadow: 1px 12px 13px #888888;
    box-shadow: 1px 12px 13px #888888;
    margin-left: 10%;
    margin-right: 10%; }
    #restaurant-container table {
      background-color: white;
      width: 300px; }
      #restaurant-container table th {
        max-height: 30px; }
    #restaurant-container img {
      width: 100%;
      height: auto; }
  #reviews-list {
    margin-left: 10%;
    margin-right: 10%;
    padding: 0; } }

@media only screen and (min-width: 1000px) {
  #restaurants-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; }
  #reviews-list {
    margin-left: 20%;
    margin-right: 20%;
    padding: 0; }
  #address-container {
    background-color: #f3f3f3;
    margin: 0; }
  #restaurant-container {
    background-color: #afafaf;
    margin-left: 15%;
    margin-right: 15%; }
    #restaurant-container img {
      max-width: 100%; }
    #restaurant-container table {
      height: 200px; } }
