/* CSS Document */
/* ====================== primary site parts ====================== */
body, td, th, p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: blue;
  line-height: 1.5; }

body {
  background-color: blue;
  margin: 0;
  position: relative; }

ul, li {
  overflow: auto; }

a {
  color: blue;
  text-decoration: none; }
  a img {
    border: none 0px #fff; }
  a:hover {
    color: blue;
    text-decoration: none; }
  a:focus {
    color: blue;
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif; }

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

main {
  background-color: #f3f3f3;
  width: 100%;
  min-height: 100%; }

footer {
  bottom: 0;
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase; }

/* ====================== Navigation ====================== */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000; }
  header nav {
    width: 100%;
    height: auto;
    background-color: #252831;
    text-align: center;
    padding: 20px 0; }
    header nav h1 {
      margin: auto; }
      header nav h1 a {
        color: #fff;
        font-size: 14pt;
        font-weight: 200;
        letter-spacing: 7px;
        text-transform: uppercase; }

/* Display list items side by side */
#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  drop-shadow: 30px 10px 4px black; }
  #breadcrumb li {
    display: inline;
    /* Add a color to all links inside the list */ }
    #breadcrumb li a {
      color: #0275d8;
      text-decoration: none; }
    #breadcrumb li:hover {
      color: #01447e;
      text-decoration: underline; }

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0"; }

/* ====================== Home Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc; }
  #map #map-container {
    background: blue none repeat scroll 0 0;
    height: auto;
    right: 0;
    top: 80px;
    width: 100%; }

/* ====================== Detailed Map ====================== */
.review-map #map {
  margin-top: 115px; }

/* ====================== Restaurant Filtering ====================== */
#filter-options {
  display: grid;
  background-color: blue;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px; }
  #filter-options h2 {
    color: white;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1;
    margin-left: 10px; }
  #filter-options select {
    background-color: white;
    border: 1px solid #fff;
    font-family: Arial,sans-serif;
    font-size: 11pt;
    height: 35px;
    letter-spacing: 0;
    margin: 10px;
    padding: 0 10px;
    width: 95%; }
  #filter-options label {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important; }

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center; }
  #restaurants-list li {
    background-color: #fff;
    border: 2px solid #ccc;
    font-family: Arial,sans-serif;
    margin: 10px;
    padding: 12px; }
    #restaurants-list li a {
      margin-top: 10px;
      background-color: blue;
      border-bottom: 3px solid #eee;
      color: #fff;
      display: inline-block;
      font-size: 1rem;
      padding: 8px;
      text-decoration: none;
      text-transform: uppercase; }
    #restaurants-list li h1 {
      color: blue;
      font-family: Arial,sans-serif;
      font-size: 1.3em;
      font-weight: 200;
      letter-spacing: 0;
      line-height: 1.3;
      text-transform: uppercase; }
    #restaurants-list li p {
      margin: 0;
      font-size: 11pt; }
  #restaurants-list .restaurant-img {
    background-color: #ccc;
    display: block;
    margin: 0;
    max-width: 100%;
    height: auto; }

/* ====================== Restaurant hero details ====================== */
#restaurant-container table th {
  color: blue;
  text-align: left;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
  margin: 10px;
  width: 100%;
  text-align: -webkit-center; }

#restaurant-container table td {
  padding: 5px;
  background-color: #252831;
  font-size: .7em;
  width: 250px;
  color: white; }

#restaurant-container h1 {
  text-align: center;
  color: blue;
  font-family: Arial,sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 7px;
  text-transform: uppercase;
  line-height: 1.1;
  margin: 20px 5px 20px 5px; }

#restaurant-container img {
  max-width: 100%;
  min-width: 350px;
  text-align: center; }

#restaurant-container #restaurant-address {
  text-algn: center;
  margin-top: 8px;
  font-size: 12pt;
  text-align: center; }

#restaurant-container #restaurant-cuisine {
  background-color: #252831;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase; }

#restaurant-container #reviews-list {
  margin: 0;
  padding: 0; }
  #restaurant-container #reviews-list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0 0 30px;
    padding: 15px;
    position: relative; }
    #restaurant-container #reviews-list li p {
      margin: 0 0 10px; }

#restaurant-container #address-container {
  text-algin: center;
  margin: 0;
  padding: 0; }

#restaurant-container #reviews-container {
  padding: 30px 40px 80px; }
  #restaurant-container #reviews-container h2 {
    color: blue;
    font-size: 24pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt; }

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff; }

@media only screen and (min-width: 500px) {
  #restaurants-list {
    grid-template-columns: auto auto auto; }
  #filter-options {
    display: block;
    overflow: hidden; }
  .h2-wrapper {
    float: left; }
  .wrapper {
    float: right; }
  #restaurants-list li {
    line-height: 1.5; }
  #restaurants-list {
    display: grid;
    grid-template-columns: 1fr 1fr; } }

@media only screen and (min-width: 700px) {
  #filter-options select {
    width: 150px; }
  #restaurants-list {
    grid-template-columns: 1fr 1fr 1fr; }
  #restaurants-list .restaurant-img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 320px;
    height: 180px;
    background-color: #ccc;
    display: block;
    margin: 0; }
  table {
    height: 100%; }
  #restaurant-container {
    display: grid;
    grid-template-columns: auto auto; }
  #restaurant-name {
    grid-column-start: 1;
    grid-column-end: 4; }
  table {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    height: auto; }
  .address-container {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4; }
  #restaurant-cuisine {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2; } }

@media only screen and (min-width: 800px) {
  #restaurants-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%; } }

@media only screen and (min-width: 1400px) {
  #restaurants-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%; } }
