@mixin fontSystem($element:body,$color:$base-font-color,$text:none){
color: $color !important;
text-transform: $text !important;

    @if $element == 'h1'{
      color: white;
      font-family: $header-fontStack;
      font-size: 1em;
      line-height: 1.5;
      font-weight: 200;
      letter-spacing: 7px;
    } @elseif $element == 'h2'{
      font-family: $header-fontStack;
      font-size: 1.5em;
      font-weight: 30;
      line-height: 1.5;
      letter-spacing: 2px;
    } @elseif $element == 'h3'{
      font-family: $primary-fontStack;
      font-size: 1.5em;
      line-height: 1;
    } @elseif $element == 'h4'{
      font-family: $primary-fontStack;
      font-size: 1.5em;
      line-height: 1;
    } @elseif $element == 'h3_special'{
      font-family: $primary-fontStack;
      font-size: .5em;
      letter-spacing: 3px;
      line-height: 1.5;
    } @elseif $element == 'body'{
      font-family: $primary-fontStack;
      font-size: 1em;
      line-height: 1.5;
    } @elseif $element == 'p'{
      font-family: $primary-fontStack;
      font-size: 1em;
      line-height: 1.5;
    } @elseif $element == 'p_italic'{
      font-family: $primary-fontStack;
      font-size: 1em;
      line-height: 1.5;
    } @elseif $element == 'button'{
      font-family: $header-fontStack;
      font-size: .8em;
      line-height: 1.5;
      letter-spacing: 4px;
    }
  }
