//colors
$accent-color: blue;
$accent-contrast: orange;
$card-color: white;
$neutral-dark: #252831;
$neutral-light: white;
$base-font-color: black;

//fonts
$header-fontStack: Oswald, sans-serif;
$primary-fontStack: EB Garamond, serif;
