@import "_variables";
@import "_fonts";
@charset "utf-8";
/* CSS Document */
/* ====================== primary site parts ====================== */

body,td,th,p{
	@include fontSystem(body);
}
body {
	@include fontSystem(body);
	background-color: $neutral-light;
	margin: 0;
	position:relative;
}
ul, li {
	overflow: auto;
}
a {
	img{
		border: none 0px $neutral-light;
	}

	text-decoration: none;
	&:hover{
		color: blue;
		text-decoration: none;
	}
	&:focus{
		color: blue;
		text-decoration: none;
	}
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
main {
  background-color: $neutral-dark;
  width:100%;
  min-height: 100%;
}
footer {
	@include fontSystem(body,$color:white);
  bottom: 0;
  background-color: $neutral-dark;
  padding: 25px;
  text-align: center;
}

/* ====================== Navigation ====================== */

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
	nav {
	  width: 100%;
	  height: auto;
	  background-color: #252831;
	  text-align:center;
	  padding: 20px 0;
		h1 {
		  margin: auto;
			a {
				@include fontSystem(h1,$color: white,$text:uppercase);
			  font-size: 14pt;
			  font-weight: 200;
			  letter-spacing: 7px;
			}
		}
	}
}

/* Display list items side by side */
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    drop-shadow:(30px 10px 4px black);
		li {
			 display: inline;
			 /* Add a color to all links inside the list */
			 a {
			     color: #0275d8;
			     text-decoration: none;
			 } &:hover {
				 color: #01447e;
				 text-decoration: underline;
			 }
	 }
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* ====================== Home Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
	#map-container {
	  background: blue none repeat scroll 0 0;
	  height: auto;
	  right: 0;
	  top: 80px;
	  width: 100%;
	}
}

/* ====================== Detailed Map ====================== */
.review-map #map{
  margin-top: 115px;
}

/* ====================== Restaurant Filtering ====================== */
#filter-options {
  display: grid;
  background-color: blue;
  align-items: center;
  padding: 10px;
	h2 {
		@include fontSystem(h1);
		color: white;
	  margin-left: 10px;
	}
	select {
		background-color: white;
	  border: 1px solid #fff;
	  font-family: Arial,sans-serif;
	  font-size: 11pt;
	  height: 35px;
	  letter-spacing: 0;
	  margin: 10px;
	  padding: 0 10px;
		width: 95%;
	}
	label {
		position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
	}
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
	background-color: #f3f3f3;
	list-style: outside none none;
	margin: 0;
	padding: 30px 15px 60px;
	text-align: center;
	.info{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	li {
	  background-color: $card-color;
	  border: 2px solid #ccc;
	  margin: 10px;
	  padding: 12px;

		a {
			@include fontSystem(button,$color:white,$text:uppercase);
			margin-top: 10px;
		  background-color: blue;
		  border-bottom: 3px solid #eee;
		  display: inline-block;
		  padding: 8px;
		  text-decoration: none;
			margin-bottom: 0;
		}
		h2 {
			@include fontSystem(h2);
		}
		p {
			margin: 0;
			font-size: 11pt;
		}
	}
	.restaurant-img {
		background-color: #ccc;
		display: block;
		margin: 0;
		max-width: 100%;
		height: auto;
	}
}
/* ====================== Restaurant hero details ====================== */
#restaurant-container {
	table {
		th{
			color: blue;
			text-align: left;
			letter-spacing: -1px;
			padding-bottom: 1pt;
			margin: 10px;
			width: 100%;
			text-align: center;
		}
		td {
			@include fontSystem(h1);
		  padding: 5px;
		  background-color: #252831;
		  width: 250px;
		}
	}
	h2 {
		@include fontSystem(h2);
		text-align:center;
	  margin: 20px 5px 20px 5px;
	}
	img {
		max-width: 100%;
		min-width: 350px;
	  text-align: center;
	}
	#restaurant-address {
		text-algn: center;
	  margin-top: 8px;
	  text-align: center;
	}
	#restaurant-cuisine {
	  background-color: #252831;
	  padding: 2px 0;
	  text-align: center;
	}
	#reviews-list {
	  margin: 0;
	  padding: 0;
		li{
			background-color: #fff;
		  border: 2px solid #f3f3f3;
		  display: block;
		  list-style-type: none;
		  margin: 0 0 30px;
		  padding: 15px;
		  position: relative;

			p{
				margin: 0 0 10px;
			}
		}
	}
	#address-container{
		text-algin: center;
		margin:0;
		padding:0;
	}
	#reviews-container {
	  padding: 30px 40px 80px;
		h2 {
		  padding-bottom: 1px;
		}
	}
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
}

@media only screen and (min-width: 500px) {
	#restaurants-list{
		grid-template-columns: auto auto auto;
	}

	#filter-options{
		display: block;
		overflow: hidden;
	}
	.h2-wrapper{
		float: left;
	}
	.wrapper{
			float: right;
	}
		#restaurants-list li {
			line-height: 1.5;
		}

		#restaurants-list{
			display: grid;
			grid-template-columns: 1fr 1fr;
		}

}

@media only screen and (min-width: 700px){
	#filter-options select {
		 width: 150px;
	}
	#restaurants-list{
		grid-template-columns: 1fr 1fr 1fr;
	}

	#restaurants-list .restaurant-img {
		object-fit: cover;
  	width: 320px;
  	height: 180px;
	  background-color: $card-color:;
	  display: block;
	  margin: 0;
	}
	table {
		height: 100%;
	}
	#restaurant-container{
		display: grid;
		grid-template-columns: auto auto;
	}

	#restaurant-name{
		grid-column-start: 1;
  	grid-column-end: 4;
	}
	#restaurant-cuisine{
	}
	table{
		grid-column-start: 2;
  	grid-column-end: 4;
		grid-row-start: 3;
		height: auto;
	}
	.address-container{
		grid-column-start: 1;
  	grid-column-end: 4;
		grid-row-start: 4;
	}
	#restaurant-cuisine{
		grid-column-start: 1;
  	grid-column-end: 4;
		grid-row-start: 2;
	}
}
@media only screen and (min-width: 800px){

	#restaurants-list{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		margin-left: 10%;
		margin-right: 10%;
	}
}
@media only screen and (min-width: 1400px){

	#restaurants-list{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		margin-left: 10%;
		margin-right: 10%;
	}
}
