@import "_variables";
@import "_toolKit.scss";
@import "_fonts";
@charset "utf-8";
/* CSS Document */
/* ====================== primary site parts ====================== */

body,td,th,p{
	@include fontSystem(body);
}
body {
	@include fontSystem(body);
	background-color: $neutral-light;
	margin: 0;
	position:relative;
}
ul, li {
	overflow: auto;
}
a {
	img{
		border: none 0px $neutral-light;
	}

	text-decoration: none;
	&:hover{
		color: $accent-color;
		text-decoration: none;
	}
	&:focus{
		color: $accent-color;
		text-decoration: none;
	}
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
main {
  background-color: $neutral-light;
  width:100%;
  min-height: 100%;
}
footer {
	@include fontSystem(body,$color:white);
  bottom: 0;
  background-color: $neutral-dark;
  padding: 25px;
  text-align: center;
	a {
		@include fontSystem(body,$color:$accent-contrast);
	}
}

/* ====================== Navigation ====================== */

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
	@extend %drop-shadow;
	nav {
	  width: 100%;
	  height: auto;
	  background-color: #252831;
	  text-align:center;
	  padding: 20px 0;
		ul {
		}
		h1 {
		  margin: auto;
			a {
				@include fontSystem(h1,$color: white,$text:uppercase);

			}
		}
	}
}

/* Display list items side by side */
#breadcrumb {
    padding: 10px;
		padding-left: 20px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    drop-shadow:(30px 10px 4px black);
		li {
			 display: inline;
			 /* Add a color to all links inside the list */
			 a {
			     color: $accent-color;
			     text-decoration: none;
			 } &:hover {
				 	 color: $accent-contrast;
				   text-decoration: underline;
			 }
	 }
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* ====================== Home Map ====================== */
#map {
	margin-top: 80px;
  height: 400px;
  width: 100%;
  background-color: $accent-contrast;
	#map-container {
	  background: blue none repeat scroll 0 0;
	  height: auto;
	  right: 0;
	  top: 80px;
		margin-top: 20px;
	  width: 100%;
	}
}

/* ====================== Detailed Map ====================== */
.review-map #map{
  margin-top: 115px;
}

/* ====================== Restaurant Filtering ====================== */
#filter-options {
	@extend %drop-shadow;
  display: grid;
  background-color: blue;
  align-items: center;
  padding: 10px;
	h2 {
		@include fontSystem(h2,$color:white);
	  margin-left: 10px;
	}
	select {
		background-color: $neutral-light;
	  border: 1px solid #fff;
	  height: 35px;
	  margin: 10px;
	  padding: 0 10px;
		width: 95%;
	}
	label {
		@extend %a11y-hide;
	}
}

/* ====================== Restaurant Listing//HOME PAGE ====================== */
#restaurants-list {
	background-color: $neutral-light;
	list-style: outside none none;
	margin: 0;
	padding: 10px;
	text-align: center;
	.info{
		height: 110px;
		margin-top: 0px;
		margin-bottom: 15px;
		padding:5px;
	}
	li {
		@extend %drop-shadow;
	  background-color: $card-color;
	  border: 2px solid #ccc;
	  margin: 10px;
	  padding: 12px;
		p {
			@include fontSystem(p_italic);
			margin: 0;
		  padding: 0;
		}
		img {
			@extend %responsive-img;
		}
		a {
			@extend %drop-shadow;
			@include fontSystem(button,$color:$neutral-light,$text:uppercase);
			margin-top: 10px;
		  background-color: blue;
		  display: inline-block;
		  padding: 8px;
		  text-decoration: none;
			margin-bottom: 0;
		}
		h3 {
			@include fontSystem(h3,$color:$accent-color);
			margin-bottom: 10px;
		}
	}
	.restaurant-img {
		background-color: #ccc;
		display: block;
		margin: 0;
		max-width: 100%;
		height: auto;
	}
}
/* ====================== Restaurant hero details ====================== */
#restaurant-container {
	#restaurant-name {
		@include fontSystem(h2,$color:white);
		background-color: $accent-color;
		padding: 14px;
		text-align: center;
		margin: 0;
	}
	#restaurant-cuisine {
		@include fontSystem(p_italic,$color:white);
	  background-color: $neutral-dark;
	  text-align: center;
		h3 {
			margin: 0;
		}
	}
	table {
		th{
			@include fontSystem(h3,$color:$accent-color);
			text-align: center;
			letter-spacing: -1px;
			padding: 15px;
			margin: 10px;
			width: 100%;
		}
		td {
			@include fontSystem(p_italic,$color:$neutral-light);
			font-style: italic;
			padding: 5px;
		  background-color: #252831;
		  width: 250px;
		}
	}
	img {
		height: auto;
		max-width: 100%;
		min-width: 350px;
	  text-align: center;
	}

	#address-container{
		text-algin: center;
	}
}
#reviews-container {
	h4 {
		@include fontSystem(h4);
		margin: 15px 0;
		padding-bottom: 1px;
	}

	h3 {
		@include fontSystem(h2,$color:white);
		background-color: $accent-color;
		padding: 10px;
		padding-bottom: 10px;
		text-align: left;
	}
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
}

#reviews-list {
	margin: 0;
	padding: 0 !important;

	li{
		background-color: $card-color;
		border: 2px solid #ccc;
		margin: 10px;
		padding: 12px;

		p{
			margin: 0 0 10px;
		}
		.date {
			display: none;
			color: $accent-color;
		}
		.comments {
			@include fontSystem(p_italic);
		}

	}
}

#restaurant-address {
	text-algn: center;
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: center;
}

@media only screen and (min-width: 500px) {
	#restaurants-list{
		grid-template-columns: auto auto auto;
	}

	#filter-options{
		display: block;
		overflow: hidden;
	}
	.h2-wrapper{
		float: left;
	}
	.wrapper{
			float: right;
	}
		#restaurants-list li {
			line-height: 1.5;
		}

		#restaurants-list{
			display: grid;
			grid-template-columns: 1fr 1fr;
		}

}

@media only screen and (min-width: 700px){
	#filter-options select {
		 width: 150px;
	}
	#restaurants-list{
		grid-template-columns: 1fr 1fr 1fr;
	}

	#restaurants-list .restaurant-img {
		object-fit: cover;
  	width: 320px;
  	height: 180px;
	  background-color: $card-color;
	  display: block;
	  margin: 0;
	}
	table {
		height: 100%;
	}
	#restaurant-container{
		display: grid;
		grid-template-columns: auto auto;
	}

	#restaurant-name{
		grid-column-start: 1;
  	grid-column-end: 4;
	}
	table{
		grid-column-start: 2;
  	grid-column-end: 4;
		grid-row-start: 3;
		height: auto;
	}
	.address-container{
		grid-column-start: 1;
  	grid-column-end: 4;
		grid-row-start: 4;
	}
	#restaurant-cuisine{
		grid-column-start: 1;
  	grid-column-end: 4;
		grid-row-start: 2;
	}
}
@media only screen and (min-width: 800px){

	#restaurants-list{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		margin-left: 10%;
		margin-right: 10%;
	}
}
@media only screen and (min-width: 1400px){

	#restaurants-list{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		margin-left: 10%;
		margin-right: 10%;
	}
}
