/*colors*/
$primary_color: blue;
$primary_color_inverse: orange;
$base_color: #252831;
$card_color: #f3f3f3;
$base_font_color: #333;
$dropShadow_color: #888888;
$white: #fff;
$shadow_color_dark: #0f1011; /*fonts*/
$Primary_font: 'Rubik', sans-serif;
$secondary_font: 'Karla', sans-serif;

@mixin fontStack($font,$element,$inverse:null) {
  font-family: $font;
  @if $font == $Primary_font {
    @if $element == 'h1' {
      font-size: 1.1em;
      font-weight: 300;
      line-height: 1.2;
      color: $primary_color;
      @if $inverse {
        color: $card_color;
      }
    } @else
    if $element == 'h2' {
      font-size: 1.5em;
      font-weight: 400;
      line-height: 1.2;
      color: $primary_color;
      @if $inverse {
        color: $card_color;
      }
    } @else
    if $element == 'h3' {
      font-size: 1.5em;
      font-weight: 700;
      line-height: 1.2;
      color: $primary_color;
      @if $inverse {
        color: $card_color;
      }
    } @else
    if $element == 'button' {
      font-size: 1em;
      font-weight: 300;
      line-height: 1.2;
      color: $primary_color;
      @if $inverse {
        color: $card_color;
      }
    }
  } @else
  if $font == $secondary_font {
    @if $element == 'basic' {
      font-size: 1em;
      line-height: 0.9;
      color: $base_font_color;
      @if $inverse {
        color: $card_color;
      }
    } @else
    if $element == 'quote' {
      font-size: 1em;
      font-style: italic;
      line-height: 1.3;
      color: $base_font_color;
      @if $inverse {
        color: $card_color;
      }
    }
  }
}
/*tools*/

%clear_fix {
  overflow: auto;
}
/*spacing*/

%default_spaceing {
  padding: 20px 0;
}

%responsive_image {
  width: 100%;
  height: auto;
}
@mixin dropShadow($EW:5px,$NS:10px,$spread:8px,$color:$dropShadow_color) {
  box-shadow: $EW $NS $spread $color;
}
@mixin maxOut($W,$H) {
  @if $W {
    width: 100%;
  } @else
  if $H {
    height: 100%;
  } @else {
    @warn 'For this mixin to work you need to add a true value to $W and/or $H.';
    @debug $W;
    @debug $H;
  }
}
/*media queris*/
$breakpoint-tablet: 450px;
