
@import 'toolKit';
@charset "utf-8";
/* CSS Document */

body {
	@include fontStack($secondary_font,basic);
		background-color: #fdfdfd;
		margin: 0;
		position:relative;
}
h1 {
	a {
		@include fontStack($Primary_font,h1);
		text-decoration: none;
	}
}
a {
	color: $primary_color;
	text-decoration: none;
	img {
		border: none 0px $card_color;
	}
}
a:hover, a:focus {
	color: $primary_color;
	text-decoration: none;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {

}
#maincontent {
  background-color: $card_color;
	@include maxOut(true,true);
}
footer {
  bottom: 0;
  background-color: $card_color;
  color: $base_font_color;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

.li-button{
	margin-top: 10px;
}

/* ====================== Navigation ====================== */
nav {
	@include maxOut(true,true);
	@extend %default_spaceing;
	  height: auto;
	  background-color: $base_color;
	  text-align:center;
		h1 {
			margin: auto;
		}
}
nav h1 a {
@include fontStack($Primary_font,h1,$inverse:true);
  letter-spacing: 7px;
  text-transform: uppercase;
}
table{
	width: 100%;
}
.address {
	text-align: center !important;
}

#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    drop-shadow: (30px 10px 4px black);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0" ;
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: $primary_color;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */

.filter-options {
  display: grid;
  background-color: $primary_color;
  align-items: center;
  padding: 10px;

  h2 {
    @include fontStack($Primary_font,h2,$inverse:true);
    margin-left: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  #cuisines-select,
  #neighborhoods-select {
    @include fontStack($secondary_font,basic);
  }
}

@media only screen and (min-width: 500px) {

	#restaurants-list{
		grid-template-columns: auto auto auto;
	}

	.filter-options{
		display: block;
	  overflow: hidden;
	}
	.h2-wrapper{
		float: left;
	}
	.wrapper{
			float: right;
	}
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
	width: 95%;
}

.visually-hidden {
	 position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}

/* ====================== Restaurant Listing ====================== */

li {
	h1 {
		@include fontStack($Primary_font,h1);
		text-decoration: none;
	}
	p {
		@include fontStack($secondary_font,basic);
	}
	a {
		@include fontStack($Primary_font,button);
	}
}

#restaurants-list {
  background-color: $card_color;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 10px;
  padding: 12px;
}
#restaurants-list {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
}
.restaurant-hero-img {
  height: auto;
}
#restaurants-list li h2 {
	color: $primary_color;
	font-family: Arial,sans-serif;
	font-size: 1.3em;
	font-weight: 200;
	letter-spacing: 0;
	line-height: 1.3;
	text-transform: uppercase;
}
#reviews-list h1{
	text-align: left;
}


#restaurants-list li a {
  background-color: $primary_color;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  padding: 8px;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

#restaurant-container {
	h2 {
		@include fontStack($Primary_font,h2);
	}
}


th{
  color: $primary_color;
  text-align: left;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
  margin: 10px;
  width: 100%;
  text-align: -webkit-center;
}
.review-map #map{
  margin-top: 115px;
}

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
}
.inside #map-container {
  background: $primary_color none repeat scroll 0 0;
  height: auto;
  right: 0;
  top: 80px;
  width: 100%;
}
.inside #map {
  background-color: #ccc;
}
.inside #footer {

	@extend %default_spaceing;
	@include maxOut(true,false);
  bottom: 0;
  position: absolute;
}
.address-container{
	text-algin: center;
	margin:0;
	padding:0;
}
#restaurant-name {
  text-align:center;
  color: $primary_color;
  font-family: Arial,sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 7px;
  text-transform: uppercase;
  line-height: 1.1;
  margin: 20px 5px 20px 5px;

}
#restaurant-img {
	max-width: 100%;
	min-width: 350px;
  text-align: center;
}
.info{
	height: 100px;
}
.restaurant-img{
	width: 100%;
}
.center-content{
  display:flex;
  align-item: center;
  justify-content: center;
}
#restaurant-address {
	text-algn: center;
  margin-top: 8px;
  text-align: center;

}
#restaurant-cuisine {
  background-color: $base_color;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
}
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h2{
	text-align: left;
}
#reviews-container h2 {
  color: $primary_color;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  padding: 15px;
  position: relative;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  padding: 5px;
  background-color: $base_color;
  font-size:.7em;
  width: 250px;
  color: white;
}
td, th {
	line-height: 2.5;
}
