%responsive-img{
  width: 100%;
  height: auto;
}
%a11y-hide{
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
%drop-shadow{
  box-shadow: 3px 6px 10px -5px black;
}
